html
  font-family: $pt
  font-weight: 400
  color:       var(--global-text-color)

.material-icons,
.zocial-icons
  font-family:             $material
  font-weight:             normal
  font-style:              normal
  font-size:               inherit
  display:                 inline-block
  line-height:             inherit
  text-transform:          none
  letter-spacing:          normal
  word-wrap:               normal
  white-space:             nowrap
  direction:               ltr
  -webkit-font-smoothing:  antialiased
  text-rendering:          optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  font-feature-settings:   'liga'

  &.zocial-icons
    font-family: $zocial

h1,
h2,
h3,
h4,
h5,
h6
  font-family:    $oswald
  text-transform: uppercase
  letter-spacing: 2px
  font-weight:    300
