<h1>
  hello world yo



  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>
  <span><!--BACKGROUND_COLOR-->somestring<!--BACKGROUND_COLOR--></span>

</h1>