<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <!--META_TITLE--><!--META_TITLE-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style>
      :root {
        --html-background-color:                    /**HTML_BACKGROUND_COLOR**//**HTML_BACKGROUND_COLOR**/;
        --global-text-color:                        /**GLOBAL_TEXT_COLOR**//**GLOBAL_TEXT_COLOR**/;
        --navigation-background-color:              /**NAVIGATION_BACKGROUND_COLOR**//**NAVIGATION_BACKGROUND_COLOR**/;
        --navigation-text-color:                    /**NAVIGATION_TEXT_COLOR**//**NAVIGATION_TEXT_COLOR**/;
        --tooltips-background-color:                /**TOOLTIPS_BACKGROUND_COLOR**//**TOOLTIPS_BACKGROUND_COLOR**/;
        --tooltips-text-color:                      /**TOOLTIPS_TEXT_COLOR**//**TOOLTIPS_TEXT_COLOR**/;
        --toasts-background-color:                  /**TOASTS_BACKGROUND_COLOR**//**TOASTS_BACKGROUND_COLOR**/;
        --toasts-text-color:                        /**TOASTS_TEXT_COLOR**//**TOASTS_TEXT_COLOR**/;
        --embed-trigger-background-color:           /**EMBED_TRIGGER_BACKGROUND_COLOR**//**EMBED_TRIGGER_BACKGROUND_COLOR**/;
        --embed-trigger-border-color:               /**EMBED_TRIGGER_BORDER_COLOR**//**EMBED_TRIGGER_BORDER_COLOR**/;
        --embed-trigger-icon-color:                 /**EMBED_TRIGGER_ICON_COLOR**//**EMBED_TRIGGER_ICON_COLOR**/;
        --embed-section-background-color:           /**EMBED_SECTION_BACKGROUND_COLOR**//**EMBED_SECTION_BACKGROUND_COLOR**/;
        --embed-section-input-color:                /**EMBED_SECTION_INPUT_COLOR**//**EMBED_SECTION_INPUT_COLOR**/;
        --embed-section-text-color:                 /**EMBED_SECTION_TEXT_COLOR**//**EMBED_SECTION_TEXT_COLOR**/;
        --embed-section-heading-color:              /**EMBED_SECTION_HEADING_COLOR**//**EMBED_SECTION_HEADING_COLOR**/;
        --embed-tooltip-background-color:           /**EMBED_TOOLTIP_BACKGROUND_COLOR**//**EMBED_TOOLTIP_BACKGROUND_COLOR**/;
        --embed-tooltip-text-color:                 /**EMBED_TOOLTIP_TEXT_COLOR**//**EMBED_TOOLTIP_TEXT_COLOR**/;
        --loading-spinner-color:                    /**LOADING_SPINNER_COLOR**//**LOADING_SPINNER_COLOR**/;
        --video-player-controls-color:              /**VIDEO_PLAYER_CONTROLS_COLOR**//**VIDEO_PLAYER_CONTROLS_COLOR**/;
        --preview-image-viewer-background-color:    /**PREVIEW_IMAGE_VIEWER_BACKGROUND_COLOR**//**PREVIEW_IMAGE_VIEWER_BACKGROUND_COLOR**/;
        --preview-download-image-background-color:  /**PREVIEW_DOWNLOAD_IMAGE_BACKGROUND_COLOR**//**PREVIEW_DOWNLOAD_IMAGE_BACKGROUND_COLOR**/;
        --preview-download-icon-color:              /**PREVIEW_DOWNLOAD_ICON_COLOR**//**PREVIEW_DOWNLOAD_ICON_COLOR**/;
        --preview-download-button-background-color: /**PREVIEW_DOWNLOAD_BUTTON_BACKGROUND_COLOR**//**PREVIEW_DOWNLOAD_BUTTON_BACKGROUND_COLOR**/;
        --preview-download-button-text-color:       /**PREVIEW_DOWNLOAD_BUTTON_TEXT_COLOR**//**PREVIEW_DOWNLOAD_BUTTON_TEXT_COLOR**/;
        --help-text-color:                          /**HELP_TEXT_COLOR**//**HELP_TEXT_COLOR**/;
      }
    </style>

    <script>
      window.dropst3r = {
        websiteHostname: /***WEBSITE_HOSTNAME***//***WEBSITE_HOSTNAME***/,
        bucketHostname:  /***BUCKET_HOSTNAME_AND_BUCKET_NAME***//***BUCKET_HOSTNAME_AND_BUCKET_NAME***/,
        filesDirectory:  /***FILES_DIRECTORY***//***FILES_DIRECTORY***/
      }
    </script>

    <link rel="stylesheet" type="text/css" href="./assets/css/app.css">
  </head>

  <body>
    <header class="main">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <span class="brand-logo center"><!--NAVIGATION_LOGO--><!--NAVIGATION_LOGO--></span>
            <ul class="left social-share-container">
              <li><a href="#" class="social-share" data-service="facebook" data-title="Check out this file!" data-url="{--VIEWER_URL--}" data-tooltip="Share on Facebook"><i class="zocial-icons facebook"></i></a></li>
              <li><a href="#" class="social-share" data-service="twitter" data-title="Check out this file!" data-url="{--VIEWER_URL--}" data-tooltip="Share on Twitter"><i class="zocial-icons twitter"></i></a></li>
              <li><a href="#" class="social-share" data-service="slack" data-title="Check out this file!" data-url="{--VIEWER_URL--}" data-tooltip="Share on Slack"><i class="zocial-icons slack"></i></a></li>
            </ul>

            <ul class="right">
              <li><a href="{--DIRECT_URL--}" data-tooltip="Download File" download><i class="material-icons">save_alt</i></a></li>
              <li><a href="#" class="copy-to-clipboard" data-url="{--VIEWER_URL--}" data-tooltip="Copy Link"><i class="material-icons" data-icon="file_copy">file_copy</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main role="main">
      <div id="preview">
        <div class="preloader-wrapper active">
          <div class="spinner-layer">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="main">
      <div class="help-text"><!--HELP_TEXT--><!--HELP_TEXT--></div>
      <div class="embed-options">
        <a id="embed-options-trigger" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">code</i></a>

        <div class="tap-target" data-target="embed-options-trigger">
          <div class="tap-target-content">
            <h5 class="right-align">Embed Options</h5>

            <div class="input-field" data-tooltip="Copy HTML">
              <i class="material-icons prefix" data-icon="code">code</i>
              <input id="embed-html" type="text" value=''><label for="embed-html">HTML</label>
            </div>

            <div class="input-field" data-tooltip="Copy BBCode">
              <i class="material-icons prefix" data-icon="forum">forum</i>
              <input id="embed-bbcode" type="text" value=""><label for="embed-bbcode">BBCode</label>
            </div>

            <div class="input-field" data-tooltip="Copy Markdown">
              <i class="material-icons prefix" data-icon="view_headline">view_headline</i>
              <input id="embed-markdown" type="text" value=""><label for="embed-markdown">Markdown</label>
            </div>

            <div class="input-field" data-tooltip="Copy Direct Link">
              <i class="material-icons prefix" data-icon="link">link</i>
              <input id="embed-direct-link" type="text" value="{--DIRECT_URL--}"><label for="embed-direct-link">Direct Link</label>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="./assets/js/app.js"></script>
  </body>
</html>