footer
  .help-text
    &:empty,
    &:blank
      display: none

    color:       $dangerously_red
    color:       var(--help-text-color, $dangerously_red)
    position:    fixed
    font-size:   12px
    line-height: 1
    bottom:      20px
    left:        0
    width:       100%
    text-align:  center

  .embed-options
    right:    20px
    bottom:   20px
    position: fixed
    z-index:  10

    h5
      color:         $dangerously_red
      color:         var(--embed-section-heading-color, $dangerously_red)
      margin-bottom: 45px

    .tap-target-wrapper
      width:  1200px
      height: 1200px

    .tap-target-content
      padding-left: 130px !important

    #embed-options-trigger,
    .tap-target-origin
      background: $dangerously_red
      background: var(--embed-trigger-background-color, $dangerously_red)

      i
        color: white
        color: var(--embed-trigger-icon-color, white)

    .tap-target
      background: $midnight
      background: var(--embed-section-background-color, $midnight)

    .tap-target-wave::before,
    .tap-target-wave::after
      background: $kon
      background: var(--embed-trigger-border-color, $kon)

    .input-field
      cursor: pointer

      i.material-icons
        cursor: pointer
        color:  $dangerously_red
        color:  var(--embed-section-input-color, $dangerously_red)

      input[type=text]:not(.browser-default)
        cursor:              pointer
        border-bottom-color: $dangerously_red !important
        border-bottom-color: var(--embed-section-input-color, $dangerously_red) !important
        box-shadow:          none !important
        color:               $modest_mauve
        color:               var(--embed-section-text-color, $modest_mauve)

      > label
        cursor: pointer
        color:  $dangerously_red !important
        color:  var(--embed-section-input-color, $dangerously_red) !important