footer
  .embed-options
    right:    20px
    bottom:   20px
    position: fixed

    h5
      color: var(--embed-section-heading-color)
      margin-bottom: 45PX

    .tap-target-wrapper
      width:  1000px
      height: 1000px

    .tap-target-content
      padding-left: 100px !important

    #embed-options-trigger,
    .tap-target-origin
      background: var(--embed-trigger-background-color)

    .tap-target
      background: var(--embed-section-background-color)

    .tap-target-wave::before,
    .tap-target-wave::after
      background: var(--embed-trigger-border-color)

    .input-field
      i.material-icons
        color: var(--embed-section-input-color)

      input[type=text]:not(.browser-default)
        border-bottom-color: var(--embed-section-input-color) !important
        box-shadow:          none !important
        color:               var(--embed-section-text-color)

      > label
        color: var(--embed-section-input-color) !important