#preview
  .audio-viewer
    width:      640px
    min-width:  55px
    min-height: 55px
    max-width:  100%
    position:   relative
    z-index:    2
    background: $kon
    background: var(--html-background-color, $kon)

    button:focus
      background: none

    .plyr--audio,
    .plyr__audio-wrapper,
    audio
      height: 55px

    .plyr__controls
      @extend .z-depth-3

    .plyr__control
      &.plyr__tab-focus,
      &:hover,
      &[aria-expanded='true'],
      &[role='menuitemradio'][aria-checked='true']::before
        background: $dangerously_red
        background: var(--video-player-controls-color, $dangerously_red)

      &.plyr__tab-focus
        box-shadow: 0 0 0 5px rgba(white, 0.3)

    .plyr--full-ui
      input[type='range']
        color: $dangerously_red
        color: var(--video-player-controls-color, $dangerously_red)

    .plyr__control--overlaid
      background: $dangerously_red
      background: var(--video-player-controls-color, $dangerously_red)